<p>techresources works!</p>

<button type="button" class="btn btn-primary btn-sm" (click) = "onClear(true)">Uncheck All</button>

<button type="button" class="btn btn-primary btn-sm" (click) = "onClear(false)">Check All</button>

<div class="form-check" *ngFor = "let category of checkboxList">
  <input class = "form-check-input" name = "{{category.printName}}" type = "checkbox" [(ngModel)] = "category.isChecked" id = "{{category.id}}" (change) = "onChangeBox(category.value, $event)">
  <label class = "form-check-label" for="{{category.printName}}">
    {{category.printName}}
  </label>
</div>

<button type="button" class="btn btn-primary btn-sm" (click) = "onSubmit()">Search</button>

{{clickMessage}}

<pre>{{checkboxListTemp | json}}</pre>

<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">App Start Date</th>
        <th scope="col">Link to Organization</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
