<p>techresources works!</p>

<div class="form-check">
  <input class="form-check-input" type="checkbox" value="Conference" id="checkConference" (change)="onCheck($event)">
  <label class="form-check-label" for="checkConference">
    Conference
  </label>
</div>
{{checkMessage}}

<div class="form-check">
  <input class="form-check-input" type="checkbox" value="Mentoring" id="checkMentoring" (change)="onCheck($event)">
  <label class="form-check-label" for="checkMentoring">
    Mentoring
  </label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" value="Fellowship / Scholarship" id="checkScholarship" (change)="onCheck($event)">
  <label class="form-check-label" for="checkScholarship">
    Fellowship/Scholarship
  </label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" value="Hackathon" id="checkHackathon" (change)="onCheck($event)">
  <label class="form-check-label" for="checkHackathon">
    Hackathon
  </label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" value="Financial Support / Aid" id="checkAid" (change)="onCheck($event)">
  <label class="form-check-label" for="checkAid">
    Financial Support/Aid
  </label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" value="POC" id="checkPOC" (change)="onCheck($event)">
  <label class="form-check-label" for="checkPOC">
    POC
  </label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" value="LGBTQ+" id="checkLGBTQ" (change)="onCheck($event)">
  <label class="form-check-label" for="checkLGBTQ">
    LGBTQ+
  </label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" value="Asian" id="checkAsian" (change)="onCheck($event)">
  <label class="form-check-label" for="checkAsian">
    Asian
  </label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" value="Black" id="checkBlack" (change)="onCheck($event)">
  <label class="form-check-label" for="checkBlack">
    Black
  </label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" value="LatinX" id="checkLatinX" (change)="onCheck($event)">
  <label class="form-check-label" for="checkLatinX">
    LatinX
  </label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" value="FirstGen" id="checkFirstGen" (change)="onCheck($event)">
  <label class="form-check-label" for="checkFirstGen">
    First Generation
  </label>
</div>

<button type="button" class="btn btn-primary btn-sm" (click) = "onSubmit()">Search</button>
{{clickMessage}}


<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">App Start Date</th>
        <th scope="col">Link to Organization</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
